.banner {
  position: relative;
  color: white;

  &__image {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
    display: block;

    & + .banner__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 85%);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;
    text-align: left;

    @media (max-width: 768px) {
      bottom: 20px;
      left: 15px;
      right: 15px;
    }
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
} 